.skills-section {
  background: rgb(15, 15, 15);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  hr {
    width: 80%;
  }
  .title {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .skills {
      display: flex;
      flex-direction: column;
      align-self: center;

      .skill {
        margin: 1em 0;
        position: relative;
        width: 22em;

        .skill_type {
          color: #fff;
          font-weight: 300;
          font-size: 1em;
          letter-spacing: 0.145em;
          text-transform: uppercase;
          width: 5em;
        }

        .skill__ouuter-bar {
          background: #333;
          margin-top: 1em;

          .skill__inner-bar {
            height: 0.75em;
            animation: fillBar 1s forwards;
            transform: scaleX(0);
            transform-origin: 0 0;
          }

          .skill__inner-bar--50 {
            width: 50%;
            background: #f8a518;
          }
          .skill__inner-bar--45 {
            width: 45%;
            background: #18a6f8;
          }
          .skill__inner-bar--40 {
            width: 40%;
            background: #f8dd18;
          }
          .skill__inner-bar--30 {
            width: 30%;
            background: #61dafb;
          }
        }
      }
    }
  }
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}

@media (max-width: 700px) {
  .skills-section {
    .title {
      font-size: 30px;
    }
    .skills-container {
      .skills {
        .skill {
          width: 15em;
          margin: 0;
        }
      }
    }
  }
}
