.skills-section {
  background: rgb(15, 15, 15);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  hr {
    width: 80%;
  }
  .title {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
  }
  .skills-container {
    background: #333;
    height: 500px;
    width: 1000px;
  }
}
