.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 110px;
  background: rgb(15, 15, 15);
  color: #fff;

  .section-title {
    font-size: 50px;
    text-transform: uppercase;
  }

  ul.about-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    background-clip: content-box;
    background-size: cover;
    background-position: center;

    li {
      padding: 10px;
      height: 100%;
      list-style: none;
    }
  }

  .about-left {
    margin: 20px 60px;
    img {
      border-radius: 20px 20px;
      background-size: contain;
      height: 500px;
    }
  }

  .about-right {
    padding: 20px;

    h3 {
      font-size: 30px;
    }
    p {
      text-align: start;
      font-size: 25px;
      line-height: 2;
      text-align: justify;
    }
  }
}

@media (max-width: 700px) {
  .about-section {
    padding: 0 0;

    .section-title {
      margin-top: 5;
      font-size: 30px;
      margin-bottom: 0;
    }

    ul.about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      padding: 0;

      .about-left {
        padding: 0;

        img {
          height: 200px;
          width: 170px;
        }
      }

      .about-right {
        padding: 0;

        h3 {
          text-transform: uppercase;
          padding: 10px;
        }
        p {
          font-size: 17px;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-section {
    .about-right {
      h3 {
        margin-top: 0;
        font-size: 25px;
      }
      p {
        padding: 0;
        margin-top: 0;
        font-size: 20px;
        line-height: 1.5;
        line-break: strict;
      }
    }
  }
}
