.header {
  position: fixed;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;

    .logo-container {
      height: 3%;
      width: 3%;
      padding: 25px;
      font-size: 30px;
      transition: all 0.5s;
      font-family: "kanit";
      font-weight: Bold Italic 800;
      color: rgb(180, 188, 196);
      text-transform: none;

      &:hover {
        transform: scale(1.1);
      }
    }

    .options {
      margin: 1em 0 0.5em;

      .option {
        padding: 0.5em 1.5em;
        display: inline;
        list-style: none;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;

        &:hover {
          color: #fbb902;
        }

        &:hover:nth-child(2) {
          color: #01afcc;
        }
        &:hover:nth-child(4) {
          color: #01afcc;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    .container {
      background: #000;
      .logo-container {
        display: none;
      }
      .options {
        margin: 1.5em auto;
        .option {
          padding: 0 0.4em;
        }
      }
    }
  }
}
