.header {
  position: fixed;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;

    .logo-container {
      height: 2%;
      width: 2%;
      padding: 25px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .options {
      margin: 1em 0 0.5em;

      .option {
        padding: 0.5em 1.5em;
        display: inline;
        list-style: none;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;

        &:hover {
          color: #fbb902;
        }

        &:hover:nth-child(2) {
          color: #01afcc;
        }
        &:hover:nth-child(4) {
          color: #01afcc;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    position: absolute;

    .container {
      justify-content: center;
      font-size: 1em;

      .logo-container {
        display: none;
      }
      .options {
        padding: 0 1em;
      }
    }
  }
}
