.footer {
  display: flex;
  background: rgb(15, 15, 15);
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  height: 100%;

  .copy {
    margin-bottom: 15px;
  }
  .contain-footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;

    .fa-facebook {
      color: #3b5998;
      margin-left: 20px;
    }
    .fa-instagram {
      color: #c13584;
      margin-left: 20px;
    }
    .fa-github {
      color: white;
      margin-left: 20px;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    padding-bottom: 10px;
    .contain-footer {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
  }
}
